<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <footer class="page-footer font-large green darken-1 pt-20">
        <div class="container middle align-middle">
            <div class="row  text-center ">
                <!--<hr class="clearfix w-100 d-md-none pb-3">-->
                <div class="col-md-3 ">
                    <a href="/home">Dashboard</a>
                </div>
                <div class="col-md-3">
                    <a href="/compare">Compare</a>
                </div>
                <div class="col-md-3" >
                    <a href="/newBudget">Create New Budget</a>
                </div>
                <div class="col-md-3 ">
                    <a href="/newUserInfo">Create New User</a>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>
</html>