<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="./Assets/Icons/favicon-32x32.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Green</title>
</head>
<body>
<nav class="navbar navbar-light bg-success">
    <a href="/home" class="navbar-brand mb-0 h1 text-white">
        <img src="./Assets/Icons/circled-g.png" alt="circled-g">Green
    </a>
</nav>
<br>
<div class="container"></div>

    <div class="row" id= "test">
        <div class="col-2"></div>
        <div class="col-3">
            <a type="button" class="btn btn-success btn-block btn-lg text-white" id="newBudget" role="button" href="/newBudget">New Budget </a>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
            <a role= "button" type="button" class="btn btn-success btn-block btn-lg" href="/compare" id= "compare">Compare</a>
        </div>
        <div class="col-2"></div>

</div>
<br>
<div class="container-float">
    <div class="row" id= history>
        <div class="col">
            <div class="table text-white">
                <thead>
                    <th>
                        <h2>My History</h2>
                    </th>
                </thead>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <table>
                <div id="chart_div"></div>
            </table>
        </div>
        <div class="col"></div>
        <div class="col">
            <table>
                "BAR CHART"
            </table>
        </div>
        <div class="col"></div>
    </div>
</div>



<footer class="sticky page-footer font-large green darken-1 ">
        <div class="container text-center align-middle">
            <br>
            <div class="row text-center align-middle footerrow">
                <div class="col-3 ">
                    <a href="/home">Dashboard</a>
                </div>
                <div class="col-3">
                    <a href="/compare">Compare</a>
                </div>
                <div class="col-3">
                    <a href="/newBudget">Create New Budget</a>
                </div>
                <div class="col-3 ">
                    <a href="/newUserInfo">Create New User</a>
                </div>
            </div>
            <br>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="/home"> Green Financial</a>
            <p>For entertainment purposes only. </p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
    </script>
    <script src="js/pieChart.js"> </script>
</body>





</html>